# The base URL of your WordPress site
WP_URL=https://your-wordpress-site.com

# The API key for your application in RoyalAuth
ROYALAUTH_API_KEY=your_application_api_key

# The API secret for your application in RoyalAuth
ROYALAUTH_API_SECRET=your_application_api_secret